In [12]:
import os
import pandas as pd

In [13]:
path="/Users/swred/OneDrive/Desktop/Grainger Assessment"
os.chdir(path)
os.getcwd()

'C:\\Users\\swred\\OneDrive\\Desktop\\Grainger Assessment'

### Load parking_citations dataset

In [14]:
data=pd.read_csv("parking_citations.corrupted.csv")

C:\Users\swred\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (0,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [15]:
data.head()

,Ticket number,Issue Date,Issue time,Meter Id,Marked Time,RP State Plate,Plate Expiry Date,VIN,Make,Body Style,Color,Location,Route,Agency,Violation code,Violation Description,Fine amount,Latitude,Longitude
0,1103341116,2015-12-21T00:00:00,1251.0,NaN,NaN,CA,200304.0,NaN,NaN,PA,GY,13147 WELBY WAY,01521,1.0,4000A1,NO EVIDENCE OF REG,50.0,99999.0,99999.0
1,1103700150,2015-12-21T00:00:00,1435.0,NaN,NaN,CA,201512.0,NaN,NaN,VN,WH,525 S MAIN ST,1C51,1.0,4000A1,NO EVIDENCE OF REG,50.0,99999.0,99999.0
2,1104803000,2015-12-21T00:00:00,2055.0,NaN,NaN,CA,201503.0,NaN,NaN,PA,BK,200 WORLD WAY,2R2,2.0,8939,WHITE CURB,58.0,6439997.9,1802686.4
3,1104820732,2015-12-26T00:00:00,1515.0,NaN,NaN,CA,NaN,NaN,NaN,PA,WH,100 WORLD WAY,2F11,2.0,000,17104h,NaN,6440041.1,1802686.2
4,1105461453,2015-09-15T00:00:00,115.0,NaN,NaN,CA,200316.0,NaN,CHEV,PA,BK,GEORGIA ST/OLYMPIC,1FB70,1.0,8069A,NO STOPPING/STANDING,93.0,99999.0,99999.0

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8726014 entries, 0 to 8726013
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Ticket number          object
 1   Issue Date             object
 2   Issue time             float64
 3   Meter Id               object
 4   Marked Time            float64
 5   RP State Plate         object
 6   Plate Expiry Date      float64
 7   VIN                    object
 8   Make                   object
 9   Body Style             object
 10  Color                  object
 11  Location               object
 12  Route                  object
 13  Agency                 float64
 14  Violation code         object
 15  Violation Description  object
 16  Fine amount            float64
 17  Latitude               float64
 18  Longitude              float64
dtypes: float64(7), object(12)
memory usage: 1.2+ GB

In [17]:
## checking if any missing values
data.isna().any()

Ticket number            False
Issue Date                True
Issue time                True
Meter Id                  True
Marked Time               True
RP State Plate            True
Plate Expiry Date         True
VIN                       True
Make                      True
Body Style                True
Color                     True
Location                  True
Route                     True
Agency                    True
Violation code           False
Violation Description     True
Fine amount               True
Latitude                  True
Longitude                 True
dtype: bool

In [18]:
data.isna().sum()

Ticket number                  0
Issue Date                   536
Issue time                  2583
Meter Id                 6456512
Marked Time              8435415
RP State Plate               765
Plate Expiry Date         794827
VIN                      8709705
Make                     4368470
Body Style                  8890
Color                       4115
Location                     854
Route                      65354
Agency                       545
Violation code                 0
Violation Description        872
Fine amount                 6507
Latitude                       3
Longitude                      3
dtype: int64

In [19]:
##identify top top 25 manufacturers
data['Make'].value_counts()[:25].sort_values(ascending=False)

TOYT    721411
HOND    491961
FORD    382695
NISS    311324
CHEV    297076
BMW     199221
MERZ    177307
VOLK    149501
HYUN    133864
DODG    127764
LEXS    124508
KIA     101746
JEEP    100909
AUDI     84229
MAZD     79853
OTHR     72411
GMC      62391
CHRY     57317
INFI     56809
ACUR     52703
SUBA     46898
VOLV     42330
TOYO     40064
MITS     37842
CADI     34080
Name: Make, dtype: int64

In [20]:
## mapping frequency of each manufacturer
data['frequency'] = data['Make'].map(data['Make'].value_counts())
data.head(10)

,Ticket number,Issue Date,Issue time,Meter Id,Marked Time,RP State Plate,Plate Expiry Date,VIN,Make,Body Style,Color,Location,Route,Agency,Violation code,Violation Description,Fine amount,Latitude,Longitude,frequency
0,1103341116,2015-12-21T00:00:00,1251.0,NaN,NaN,CA,200304.0,NaN,NaN,PA,GY,13147 WELBY WAY,01521,1.0,4000A1,NO EVIDENCE OF REG,50.0,99999.0,99999.0,NaN
1,1103700150,2015-12-21T00:00:00,1435.0,NaN,NaN,CA,201512.0,NaN,NaN,VN,WH,525 S MAIN ST,1C51,1.0,4000A1,NO EVIDENCE OF REG,50.0,99999.0,99999.0,NaN
2,1104803000,2015-12-21T00:00:00,2055.0,NaN,NaN,CA,201503.0,NaN,NaN,PA,BK,200 WORLD WAY,2R2,2.0,8939,WHITE CURB,58.0,6439997.9,1802686.4,NaN
3,1104820732,2015-12-26T00:00:00,1515.0,NaN,NaN,CA,NaN,NaN,NaN,PA,WH,100 WORLD WAY,2F11,2.0,000,17104h,NaN,6440041.1,1802686.2,NaN
4,1105461453,2015-09-15T00:00:00,115.0,NaN,NaN,CA,200316.0,NaN,CHEV,PA,BK,GEORGIA ST/OLYMPIC,1FB70,1.0,8069A,NO STOPPING/STANDING,93.0,99999.0,99999.0,297076.0
5,1106226590,2015-09-15T00:00:00,19.0,NaN,NaN,CA,201507.0,NaN,NaN,VN,GY,SAN PEDRO S/O BOYD,1A35W,1.0,4000A1,NO EVIDENCE OF REG,50.0,99999.0,99999.0,NaN
6,1106500452,2015-12-17T00:00:00,1710.0,NaN,NaN,CA,201605.0,NaN,MAZD,PA,BL,SUNSET/ALVARADO,00217,1.0,8070,PARK IN GRID LOCK ZN,163.0,99999.0,99999.0,79853.0
7,1106500463,2015-12-17T00:00:00,1710.0,NaN,NaN,CA,201602.0,NaN,NaN,PA,BK,SUNSET/ALVARADO,00217,1.0,8070,PARK IN GRID LOCK ZN,163.0,99999.0,99999.0,NaN
8,1106506402,2015-12-22T00:00:00,945.0,NaN,NaN,CA,201605.0,NaN,NaN,PA,BR,721 S WESTLAKE,2A75,1.0,8069AA,NO STOP/STAND AM,93.0,99999.0,99999.0,NaN
9,1106506413,2015-12-22T00:00:00,1100.0,NaN,NaN,CA,201701.0,NaN,NaN,PA,SI,1159 HUNTLEY DR,2A75,1.0,8069AA,NO STOP/STAND AM,93.0,99999.0,99999.0,NaN

In [21]:
##identifying threshhold value 
freq_25=data.drop_duplicates(subset=['frequency'])
freq_25_value=freq_25.frequency.nlargest(25).iloc[-1]
freq_25_value

34080.0

In [22]:
##create target variable for top 25 manufacturers
##manufacturer_rank  is 1 if car made by one of the top 25 manufacturers
import numpy as np
data['manufacturer_rank'] = np.where(data['frequency']>=freq_25_value, '1', '0')
data.head()

,Ticket number,Issue Date,Issue time,Meter Id,Marked Time,RP State Plate,Plate Expiry Date,VIN,Make,Body Style,...,Location,Route,Agency,Violation code,Violation Description,Fine amount,Latitude,Longitude,frequency,manufacturer_rank
0,1103341116,2015-12-21T00:00:00,1251.0,NaN,NaN,CA,200304.0,NaN,NaN,PA,...,13147 WELBY WAY,01521,1.0,4000A1,NO EVIDENCE OF REG,50.0,99999.0,99999.0,NaN,0
1,1103700150,2015-12-21T00:00:00,1435.0,NaN,NaN,CA,201512.0,NaN,NaN,VN,...,525 S MAIN ST,1C51,1.0,4000A1,NO EVIDENCE OF REG,50.0,99999.0,99999.0,NaN,0
2,1104803000,2015-12-21T00:00:00,2055.0,NaN,NaN,CA,201503.0,NaN,NaN,PA,...,200 WORLD WAY,2R2,2.0,8939,WHITE CURB,58.0,6439997.9,1802686.4,NaN,0
3,1104820732,2015-12-26T00:00:00,1515.0,NaN,NaN,CA,NaN,NaN,NaN,PA,...,100 WORLD WAY,2F11,2.0,000,17104h,NaN,6440041.1,1802686.2,NaN,0
4,1105461453,2015-09-15T00:00:00,115.0,NaN,NaN,CA,200316.0,NaN,CHEV,PA,...,GEORGIA ST/OLYMPIC,1FB70,1.0,8069A,NO STOPPING/STANDING,93.0,99999.0,99999.0,297076.0,1

In [23]:
data["manufacturer_rank"].value_counts()

0    4739800
1    3986214
Name: manufacturer_rank, dtype: int64

In [24]:
##Create a Test Set
from sklearn.model_selection import train_test_split

train_set, test_set = train_test_split(data, test_size=0.2, random_state=42)

In [25]:
test_set.head()

,Ticket number,Issue Date,Issue time,Meter Id,Marked Time,RP State Plate,Plate Expiry Date,VIN,Make,Body Style,...,Location,Route,Agency,Violation code,Violation Description,Fine amount,Latitude,Longitude,frequency,manufacturer_rank
7142903,4328289022,2018-03-21T00:00:00,1250.0,NaN,NaN,CA,201812.0,NaN,VOLK,PA,...,376 CHICAGO ST N,00634,56.0,80.69BS,NO PARK/STREET CLEAN,73.0,6.496803e+06,1.837706e+06,149501.0,1
3922237,4294958603,2016-10-11T00:00:00,1125.0,NaN,NaN,CA,201607.0,NaN,MERZ,PA,...,301 E BROADWAY STREET,00901,51.0,22500E,BLOCKING DRIVEWAY,68.0,6.418624e+06,1.820064e+06,177307.0,1
1718499,4253098463,2015-03-16T00:00:00,833.0,NaN,NaN,CA,201506.0,NaN,FORD,PU,...,1732 NEPTUNE AVE,00500,55.0,22500F,PARKED ON SIDEWALK,68.0,9.999900e+04,9.999900e+04,382695.0,1
1840578,4255683666,2015-04-06T00:00:00,1919.0,VH96,NaN,CA,NaN,NaN,NaN,PA,...,1825 VERMONT AV N,00403,54.0,88.13B+,METER EXP.,63.0,6.473338e+06,1.860381e+06,NaN,0
1821838,1111143202,2015-03-30T00:00:00,805.0,SS580,NaN,CA,201504.0,NaN,NaN,PA,...,1540 CORINTH AVE,00304,51.0,8813B,METER EXPIRED,63.0,6.425321e+06,1.839709e+06,NaN,0

### Preparing Data For Modeling

In [26]:
from sklearn.base import BaseEstimator, TransformerMixin

class DataFrameSelector(BaseEstimator, TransformerMixin):
    def __init__(self, attribute_names):
        self.attribute_names = attribute_names
    def fit(self, X, y=None):
        return self
    def transform(self, X):
        return X[self.attribute_names]

#### Handling numerical attributes

In [27]:
##imputing missing values for the numerical attributes

from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer


num_pipeline = Pipeline([
        ("select_numeric", DataFrameSelector(["Issue time", "Marked Time","Plate Expiry Date","Agency","Fine amount", "Latitude", "Longitude"])),
        ("imputer", SimpleImputer(strategy="median")),
    ])

In [28]:
x_num_tr=num_pipeline.fit_transform(train_set)

#### Handling Text and Categorical Attributes

In [29]:
class MostFrequentImputer(BaseEstimator, TransformerMixin):
    def fit(self, X, y=None):
        self.most_frequent_ = pd.Series([X[c].value_counts().index[0] for c in X],
                                        index=X.columns)
        return self
    def transform(self, X, y=None):
        return X.fillna(self.most_frequent_)

In [30]:

from sklearn.preprocessing import OneHotEncoder

In [31]:
##imputing and encoding Categorical variables
# cat_pipeline = Pipeline([
#         ("select_cat", DataFrameSelector(["Color","RP State Plate","Make","Body Style","Location"])),
#         ("imputer", MostFrequentImputer()),
#         ("cat_encoder", OneHotEncoder(sparse=False)),
#     ])

#Note: because of memory error the above code is bypassed

In [32]:
# from sklearn.pipeline import FeatureUnion
# preprocess_pipeline = FeatureUnion(transformer_list=[
#         ("num_pipeline", num_pipeline),
#         ("cat_pipeline", cat_pipeline),
#     ])

In [33]:
#X_train = preprocess_pipeline.fit_transform(train_set)

In [34]:
y_train = train_set["manufacturer_rank"]

### Training and Evaluating on the Training Set

In [96]:
##data is trained on logistic regression model
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
logreg=LogisticRegression(class_weight='balanced').fit(x_num_tr,y_train)

In [97]:
X_test = num_pipeline.fit_transform(test_set)
y_test = test_set["manufacturer_rank"]
logreg.score(X_test, y_test)

0.4657693116502779

### Results

In [99]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

print(classification_report(y_test,predictions,target_names=["top_25", "not_top_25"]))

              precision    recall  f1-score   support

      top_25       0.57      0.07      0.13    948355
  not_top_25       0.46      0.94      0.62    796848

    accuracy                           0.47   1745203
   macro avg       0.51      0.50      0.37   1745203
weighted avg       0.52      0.47      0.35   1745203

### Test the Model

In [108]:
predictions=logreg.predict_proba(X_test)[:,1]
predictions

array([0.50095009, 0.50103478, 0.50518284, ..., 0.50124442, 0.50104484,
       0.50124629])

### Export Trained Model

In [100]:
import pickle
pickle_out = open("logreg.pkl","wb")
pickle.dump(logreg, pickle_out)
pickle_out.close()

In [101]:
pickle_in = open("logreg.pkl","rb")

In [102]:
model=pickle.load(pickle_in)